@import '../node_modules/compass-mixins/lib/compass';

@font-face {
    font-family: "RobotoMediumItalic";
    src: url('./fonts/Roboto/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: "RobotoNormal";
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "RobotoLight";
    src: url('./fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: "RobotoLightItalic";
    src: url('./fonts/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: "BebasNBold";
    src: url('./fonts/BebasNeue/BebasNeue_Bold.otf');
}

@font-face {
    font-family: "BebasNRegular";
    src: url('./fonts/BebasNeue/BebasNeue_Regular.otf');
}


@mixin BebasNBold($size) {
    font-size: $size;
    font-family: BebasNBold;
}

@mixin BebasNRegular($size) {
    font-size: $size;
    font-family: BebasNRegular;
}

@mixin RobotoMediumItalic($size) {
    font-size: $size;
    font-family: RobotoMediumItalic;
}

@mixin RobotoNormal($size) {
    font-size: $size;
    font-family: RobotoNormal;
}

@mixin RobotoLight($size) {
    font-size: $size;
    font-family: RobotoLight;
}

@mixin RobotoLightItalic($size) {
    font-size: $size;
    font-family: RobotoLightItalic;
}

@mixin backgroundImage() {
    background-size: cover;
    background-repeat: no-repeat;
  }

$width-page:1200px;
$height-footer-page:185px;
$height-content-page : 800px;
$min-page-md:676px;
$min-page-width-md: max-width 767px;
